/* this  is main-section for padding and margin */

/* ====to aligbn container center======*/
/* to declare a color in variable */
:root {
  --main-color: #0388fc;
  --color-two: #1b46ba;
  --text-color:#efefef;
}

.btn:hover{
  background-color: var(--main-color);
  color:var(--text-color) ;
}

.btn{
  position: relative;
  z-index: 10;
  border-radius: 5px;
}
.btn:before{
  content: "";
  position: absolute;
  background-color: var(--color-two);
  color: var(--main-color);
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 5px;
  transition: all 2s ease-in-out;
z-index: -10;
}

.btn:hover:before{
  width: 100%;
 
}

.container {
  display: flex;

  justify-content: center;
  align-items: center;
}

/* =======this is navlink css part ===========*/
.link {
  text-transform: capitalize;
  color: var(--main-color);
  padding: 10px;
  text-decoration: none;
  font-size: x-large;
  position: relative;
}

.link:before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 0;
  height: 2px;
  border-radius: 3px;
  left: 0;
  top: 100%;
  transition: all 1s ease-in-out;
}

.link:hover:before {
  width: 100%;
}


link:active {
  color: blue;
}

.link:hover {
  text-decoration: none;
  color: var(--main-color);
}

#home {
  background-color: var(--main-color);
  color: aliceblue;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 7px;
}

#home:hover {
  /* background-color: rgb(179, 179, 179);
  color: var(--main-color); */
}

/*=====thsi is for text transform====  */

.text {
  text-transform: uppercase;
  width: 100%;
  font-weight: bolder;
  font-size: 40px;

}

.text-color {
  color: var(--main-color);
}

.paragraph {
  text-transform: capitalize;
  width: 130%;
  font-size: 35px;

}

.font {
  font-size: 28px;
  padding-top: 30%;
}

/*====== this is second coloum background-color==== */
.background {
position: relative;
left: 70px;

}



.img {
position: absolute;
bottom: 60vh;
margin-left: 25vw;
width: 100%;
height: 100vh;

}

.searchbar {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  bottom: 30vh;
  z-index: 1;
}

.bg {
  border: 4px solid var(--color-two);
  height: 90px;
  border-radius: 10px;
  outline: none;
  box-shadow: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 80vw;
}

/* =====this is button css===== */

.batn {
  position: relative;
  left: 60vw;
top: -13vh;
  background-color: var(--color-two);
  color: white;

  margin-right: 20px;
  width: 10vw;
  height: 8vh;

}

/* this is for image back slidr type */
.img-bg {
  width: 14vw;
  border-radius: 10px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 25px;
}

.img-width {
  width: 12vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.background-cont {
  background-color: var(--color-two);
  border-radius: 30px;
  position: relative;
  bottom: 45vh;
}

/* ====this is third section css=== */

.maindiv {
  /* border-radius: 0% 100% 97% 3% / 98% 71% 29% 2%  ; */
  /* width: 80vw;
  height: 130vh;
  position: relative;
  bottom: 30vh;
  background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1656924327/web-images/img/main2_qc0ycw.svg");
  background-repeat: no-repeat;
  background-size: 70rem; */
}

.aroow-img{
position: relative;
bottom: 20vh;
margin-left: -20vw;
}

/* this is setting heignt and postion of container 3rd secftion */

.bg-container-2 {
  position: relative;
  left: 10%;
  top: 10%;

  /* top: 35vh; */
  transform: translate(50% 50%);
}

/* this is sec para which is ceneter in container */

.sec-para {
  text-align: center;
  border: 2px solid blue;
  width: 30vw;
  left: 30%;
  position: relative;
  top: 10vh;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: capitalize;
  font-weight: bolder;
  border-radius: 20px;
  box-shadow: 2px 3px 4px 3px;
}

/* ===thsi is container inside col box color===  */

.box {
  background-color: rgb(223, 237, 242);
  width: 26vw;
  border-radius: 20px;
  height: 80vh;
  border: 2px solid blue;
  box-shadow: 2px 2px 2px 2px;
}

/* this is button css */

.btn {
  position: relative;
  text-transform: capitalize;
  bottom: 25px;
}

/* 
this inside buuton of box */

.butn {
  margin-top: 15%;
  width: 15vw;
  border-radius: 15px;
  padding: 5px;
  text-transform: capitalize;
}

/* this is thirsd card merge button */

.batn-2 {
  /* border: 2px solid blue;
padding-top: 20px;
width:13.6vw;
height: 6vh;
padding-bottom: 29px;
padding-top: 9px;
border-radius: 10px; */
}

/* 
this is card bottiom heading section */

.third-heading {
  position: relative;
  bottom: 80vh;
  width: 45vw;
  text-transform: capitalize;
}

/* =====this is for last text of paragraph center======= */
.center {
  text-align-last: center;
}

/* this is 4rt para svg cdircle */
.third-para {
  position: relative;
  left: 15vw;
  color: blue;
  font-weight: bolder;
  font-size: larger;
}

.circle-para {
  position: relative;
  left: 28%;
  bottom: 20vh;
}

.align {
  color: blue;
}

/*====== this is for setting width and height .third-heading =====*/

.heading-section {
  position: relative;
  top: -80vh;
}

/* =====this is slik carousel in css with baground-img  ===== */

.bg-1 {
  background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1656924353/web-images/img/slid1_yoxwjk.svg");
  /* background-image: url("/img/add.svg"); */
  background-repeat: no-repeat;
  height: 100vh;
  width: 70%;

  margin-left: 50px;
}

/* this is slick dots */
.slick-dots li button:before {
  font-family: "slick";
  font-size: 56px;
  line-height: 0px;
  position: absolute;
  top: -100%;
  left: 0;
  width: 20px;
  height: 20px;
  width: 80px;
  content: "•";
  text-align: center;
}

.slick-dots li button {
  font-family: "slick";
  font-size: 56px;
  line-height: 0px;
  position: absolute;
  top: -100%;
  left: 0;

  width: 20px;
  height: 20px;
  width: 50vw;
  content: "•";
  text-align: center;

  border-radius: 2px;
}

.slick-prev:before {
  background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1656924355/web-images/img/vector-23_2x_tz3hdk.svg");

  background-repeat: no-repeat;
  z-index: 10;
}

.slick-next:before {
  /* content: '→'; */
  background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1656924356/web-images/img/vector-24_2x_uysuha.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 10;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: blue;
  background-color: blue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  left: 50%;
  z-index: 2;
}

.slick-next {
  position: relative;
  left: -40%;
  margin-bottom: 5vh;
}

.slick-prev {
  position: relative;
  left: 40%;
  margin-bottom: 5vh;
  z-index: 10;
}

/* this is responsive layouts of slick carousel  */

@media (max-width: 992px) {

  .slick-prev:before,
  .slick-next:before {
    margin-top: 30px;
    margin-left: 18px;
  }

  .slick-dots li button {
    padding-bottom: 20px;
  }
}

/*==== this is slik .background-img 2 ====*/

.bg-2 {
  background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1656924352/web-images/img/silk2_td9tro.svg");

  background-repeat: no-repeat;
  height: 100vh;
  margin-top: 40px;
  margin-left: 50px;
  width: 100%;
}

/* this is slik carousel main class and we change the shape of slik */

.your-class {
  position: relative;
  bottom: 60vh;
  /* border-top-right-radius: 20%; */
  border-bottom-left-radius: 30%;
  background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1656924353/web-images/img/silkmain_ru6pg9.svg");
  height: 100vh;
  padding-top: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ==================this is service page styling============= */


/* this is the main div of service page  */


.service-box {
  background-color: white;
  height: 18vh;
  width: 80%;
  display: flex;
  justify-content: center;
padding: 20px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.service-box,
para {
  font-size: 13px;


}

.para{

}

/* this is image of svg of service page */

.service-bg {
  background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1656924350/web-images/img/rectangle-64-1_1x_x48j2g.svg");
  position: relative;

  background-repeat: no-repeat;
  /* background-position: 40vw -10vw; */
/* background-position-x: 48vw;
background-position-y:  -17vh; */
background-position: 130% 100%;
background-position-y:-1vh ;
/* background-position-x: right center; */
z-index: 10;
margin-top: 10vh;


}

/* this is  sec image of service page background */
.service-bg-2 {
  background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1656924606/web-images/img/mainimg-2_fidzuh.svg");
background-repeat: no-repeat;
background-position: -15%  -90%;
position: relative;
padding-bottom: 15vh;

}


/* 
this is box-img of service pager  */

.box-img {
  background-color: white;
  background-repeat: no-repeat;
  border-radius: 100%;
  height: 18vh;
  position: relative;
  bottom: 70%;
  right: 4vw;
  width: 18rem;
  padding-top: 20px;
  padding-left: 20px;
margin-top: 35px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* this the page of pricig some space from bottom */

.pricing-main {
  margin-bottom: 10vh;
}


btn{
  outline: none;
  box-shadow: none;
  color: var(--main-color);
}
.btn:focus{
  outline: none;
  box-shadow: none;
}

.margin-btn{

}
.input{
  width: 70vw;
  height: 12vh;
  border: 4px solid blue;
position: relative;
bottom: 7vh;
  border-radius: 14px;
}


/* service responsive all thing for 992px  */

@media (min-width:992px) and  (max-width:1200px){



  .service-box {
    background-color: white;
    height: 6rem;
    width: 80%;
    display: flex;
    justify-content: center;
  padding: 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .service-box,
  para {
    font-size: 10px;
  
  
  }
  
  .why-us{
    font-weight:bolder ; font-size:30px;

   color:white;
  }
  
  .service-bg {
    background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1656924350/web-images/img/rectangle-64-1_1x_x48j2g.svg");
    position: relative;
  
    background-repeat: no-repeat;
    /* background-position: 40vw -10vw; */
  /* background-position-x: 48vw;
  background-position-y:  -17vh; */
  background-position: 30rem 100%;
  background-position-y:-1vh ;
  /* background-position-x: right center; */
  z-index: 10;
  margin-top: 10vh;
  
  
  }
  
  /* this is  sec image of service page background */
  .service-bg-2 {
    background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1656924606/web-images/img/mainimg-2_fidzuh.svg");
  background-repeat: no-repeat;
  background-position: -15%  -90%;
  position: relative;
  padding-bottom: 15vh;
  
  }
  .box-img {
    background-color: white;
    background-repeat: no-repeat;
    border-radius: 100%;
    height: 5rem;
    position: relative;
    bottom: 3rem;
    right: 5vw;
    width: 10rem;
    padding-top: 20px;
    padding-left: 20px;
  margin-top: 35px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  /* this the page of pricig some space from bottom */
  
  .pricing-main {
    margin-bottom: 10vh;
  }
  
  
  btn{
    outline: none;
    box-shadow: none;
    color: var(--main-color);
  }
  .btn:focus{
    outline: none;
    box-shadow: none;
  }
  
  .margin-btn{
position: relative;
left: -10vw;
  }
  .input{
    width: 70vw;
    height: 12vh;
    border: 4px solid blue;
  position: relative;
  bottom: 7vh;
    border-radius: 14px;
  }
.service-col-spacing{
  padding-left: -50%;
}
  
}

@media (min-width: 768px) and (max-width: 992px) {
  .service-box {
    margin-top: 90px;
    margin-left: 45px;
  }

  .box-img {
    background-color: white;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 8rem;
    position: relative;
    bottom: 3.2rem;
    right: 8vw;
    width: 15rem;
    padding-top: 20px;
    padding-left: 10px;
    margin-bottom: 20px;
  }
.para{
  padding-top: 5%;
}

.why-us{
  color: white;
}
  /* thuis is setting image side by side */
  .service-bg {
    background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1656924350/web-images/img/rectangle-64-1_1x_x48j2g.svg");
    background-position: 100% -10vh;
   

  }

.service-bg-2{

  background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1656924606/web-images/img/mainimg-2_fidzuh.svg");
  background-repeat: no-repeat;
background-position: -10% 100vh;
}

.input{
position: relative;
bottom: 7vh;
width: 60vw;
}

.margin-btn{
  position: relative;
top: -17vh;
left: -15VW;
}

}

@media (min-width: 576px) and (max-width: 768px) {
  .service-box {
    margin-top: 50px;
    margin-left: 40px;
  }

  .box-img {
    background-color: white;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 8rem;
    position: relative;
    bottom: 3.5rem;
    right: 8vw;
    width: 20rem;
    padding-top: 20px;
    padding-left: 10px;
    margin-bottom: 20px;
  }

  /* thuis is setting image side by side */
  .service-bg {
    background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1656924621/web-images/img/rectangle-64-3_1x_ydjbsr.svg");
    background-repeat: no-repeat;
    background-position: -1rem 1rem;
    background-size: 40rem;
   
  }

  .service-bg-2{
    background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1656924621/web-images/img/rectangle-64-2_1x_oscran.svg");
    background-repeat: no-repeat;
    background-position: 100% 100vh;
    background-size: 30rem;

  }

  .why-us{
    color: var(--main-color);
  }

  /* this is input button */

  .margin-btn {
    margin-left: 75%;
    position: relative;
    bottom: 16.5vh;
    left: -10vw;
  }

  .input{
    position: relative;
    bottom: 7vh;
    width: 80vw;
    }
    
    

}

@media (max-width: 576px) {
  .service-box {
    margin-top: 50px;
    height: 25vh;
    margin-left: 40px;
    width: 80%;
    height: 50%;
  }

  .service-col-set{

  height: 15rem;
  }

  /* this is paragraph setting */
 
  para {
    z-index: 1;
  }

  .box-img {
    background-color: white;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 8rem;
    position: relative;
    bottom: 3.5rem;
    right: 9vw;
    width: 20rem;
    padding-top: 30px;
    padding-left: 10px;
  }

  /* thuis is setting image side by side */
  /* thuis is setting image side by side */
  .service-bg {
    background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1656924621/web-images/img/rectangle-64-3_1x_ydjbsr.svg");
    background-repeat: no-repeat;
    background-position: -1rem 1rem;
    background-size: 35rem;
   
  }

  .service-bg-2{
    background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1656924621/web-images/img/rectangle-64-2_1x_oscran.svg");
    background-repeat: no-repeat;
    background-position: 100% 120vh;
    background-size: 25rem;

  }


  .why-us{
    color: var(--main-color);
  }
  .display-mobile{
display: none;
  }


}

/* this is some extra setting of servive page responsive issues */

@media (max-width: 440px) {
  .box-img {
    backface-visibility: hidden;
    background-color: white;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 8rem;
    position: relative;
    bottom: 3.5rem;
    right: 5vw;
    width: 80vw;
    padding-top: 30px;
    padding-left: 10px;
  }
}

/* ============this is responsive layoyuts of service page botttom======= */

/* ====my page setting responsive from large screen==== */
/* this setting second col lefting spacing */

@media (min-width: 992px) {
  .left-spacing {
    /* margin-left: 45px; */
  }
.why-us{
  color: white;
}

}




@media (max-width: 992px) {
  .service-bg-2 {
    /* margin-bottom: 60vh; */
  }
}

@media (max-width: 576px) {
  .service-bg-2 {
    /* margin-bottom: 100vh; */
  }
}

/* this is marging for button */
@media (min-width: 576px) {
  .margin-btn {
    margin-left: 65%;
    position: relative;
    bottom: 16.5vh;
  }
}

/* this is for work page colum reverse  */

@media (max-width: 992px) {

  /* this is for reverse the column */
  .revert-col {
    display: flex;
    flex-flow: column-reverse;
  }
}



/* ALL RESPONSIVE LAYOUTAS OF SER VISE PAGE TOP */



/* this is how its work page csss */
/* =========this is the how its work page styling============= */
/* 
this is how its work heading line hr */

.line{
  position: relative;
  width: 100%;

}
.line::before{
  content: "";
  position: absolute;
  background-color: var(--color-two);
  width: 50%;
  height: 2px;
  left: 25%;
  top: 100%;

}



.work-image {
  background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1656924610/web-images/img/rectangle-1-1_1x_lddovm.svg");
  background-repeat: no-repeat;
background-position: 120% 10vh;
background-size: 60rem;

}

/* this is for image ellipse 37 mouth */

.work-image-2 {
  background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1656924338/web-images/img/ellipse-37_1x_vbx5qd.svg");
  background-repeat: no-repeat;
 background-position: -2% 40vh;
 background-size: 30rem;
  z-index: -2;
padding-top: 10rem;
padding-bottom: 10rem;
 
}

.work-input{


width: 80vw;
padding-left: 2vw;
border: 4px solid var(--color-two);
border-radius: 14px;
height: 12vh;
position: relative;
bottom: 20vh;
}

.work-batn{
  width: 15vw;
  position: relative;
  bottom: 36vh;
  height: 3rem;
  margin-left: 45rem;
}
/* this is end of  how its work page csss */
/* =========this is the how its work page styling============= */







/* this is hide image from mobile devices */
/* and responsive for image */
@media (max-width: 768px) {
  .work-image {
    background-image: none;
  }

  .work-image-2 {
    background-image: none;
  }
  .work-input{
    margin-top: 5rem;
  }
.work-batn{
  margin-left: 40vw;
  width: 8rem;
}

.marging{
  padding-top: 90px;
}

.work-input{


  width: 80vw;
  padding-left: 2vw;
  border: 4px solid var(--color-two);
  border-radius: 14px;
  height: 12vh;
  position: relative;
  bottom: 20vh;
  }
  
  .work-batn{
    width: 30vw;
    position: relative;
margin-left: auto;
margin-right: auto;
top: -90px;
  }
 
}
@media (min-width: 768px) and (max-width: 992px) {

  .work-image {
    background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1656924610/web-images/img/rectangle-1-1_1x_lddovm.svg");
    background-repeat: no-repeat;
  background-position: 100% 10vh;
  background-size: 40rem;
  
  }
  

 
  /* this is for image ellipse 37 mouth */
  
  .work-image-2 {
    background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1656924338/web-images/img/ellipse-37_1x_vbx5qd.svg");
    background-repeat: no-repeat;
   background-position: -2% 60vh;
   /* background-size: 20rem; */
    z-index: -2;

   
  }

.work-batn{
  position: relative;
  left: -20vw;
}

}


@media (min-width: 576px) and (max-width: 768px) {
.marging-4{
padding-top: 10%;
}

.marging-1{
  padding-left: 20px;

  position: relative;
  left: -20%;
}
.marging-5{
position: relative;
top: 100px;

}
.line::before{
  content: "";
  position: absolute;
  background-color: var(--color-two);
  width: 70%;
  height: 2px;
  left: 15%;
  top: 100%;

}

}

@media (max-width: 992px) {
  .img-hide{
    background-image: none;
    display: none;
  }
}


@media (max-width: 576px) {
.marging-1{
  display: flex;
position: relative;
left: -80px;
top: 10px;

width: 20rem;
height: 20rem;
}
.line::before{
  content: "";
  position: absolute;
  background-color: var(--color-two);
  width: 70%;
  height: 2px;
  left: 15%;
  top: 100%;

}
.marging-5{

  margin-top: 80px;
}
.marging-4{
  margin-top: 40px;
}

.font-work{
  font-size: 12px;

}

.col-1{

}
.col-1{
  
}
.col-1{
  
}

}

/* this is done service page */






/* =======this is the page of member page box design box-design-members======= */

.box-design-members {
  background-color:var(--color-two);
  padding: 20px;
  border-radius: 20px;
  margin-top: 15px;
  color: #efefef;
  text-transform: capitalize;
  position: relative;
}


/* button css + */

.butan-member{
  background-color: white;
  outline: none;
  box-shadow: none;
  border-radius: 20px;
}
.butan-member:focus{
  outline: none;
  box-shadow: none;
}

.para-text-member{
  text-align:left;
  width: 70vw;
}

.read-batn{
  background-color: var(--color-two);
  border-radius: 10px;
  width: 15rem;
  height: 3rem;
  text-transform: uppercase;
}

/* responsive layouts of members page  */

@media (max-width:768px) {
  .postion-btn{
    position: relative;
  top: -11rem;

  }
.width-para{
  width: 35vw;
 
  margin-left: auto;
  margin-right: auto;
  line-height: 25px;
  text-align: justify;
}

}






/* =======this is the page of member page box design box-design-members======= */
/*============this is footer css for page========== */

.site-footer {
  font-size: 15px;

  color: #737373;
  background-color: #efefef;
  padding-bottom: 20px;
  padding-top: 20px;
}

/* this is firsst col of footer */
.nav-footer {
  text-decoration: none;
  text-transform: capitalize;
}

.hr {
  background-color: aqua;
  height: 20px;
}

/* ===this is footer social icobs css=== */

.social-icon {
  margin-right: 30px;

  border: 2px solid blue;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding-top: 18px;
  padding-left: 6%;
}

.social {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* fottre social icons responsive */

@media (max-width: 576px) {
  .social-icon {
    padding-left: 3%;
  }
}

/* this is responsive layouts for our things and data */
/* this is responsive layoyuts of service page botttom */
@media (max-width: 992px) {
  /* this is navbar */

  .nav-item {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  /* toggler this is hide */

  .navbar-toggler.collapsed {
    border: none;
    outline: none;
    box-shadow: none;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  /* this is container third width section */

  /* this is main first svgt img left side */
  .img {
    height: 20rem;
    width: 30vw;
  }

  /* 
this is socials card section  ==========*/

  .bg-container-2 {
    position: relative;
    left: 40%;
    top: 10%;

    /* top: 35vh; */
    transform: translate(50% 50%);
  }

  .box {
    margin-top: 25px;
    width: 32vw;
  }

  /* this is setting position: top; */

  .large-response {
    margin-top: 190vh;
  }
}

/* medium devices responsive */

@media (min-width: 576px) and (max-width: 768px) {
  /* this is container third width section */

  /* this is main first svgt img left side */
  .img {
    height: 14rem;
    width: 30rem;
    margin-right: 100%;
    position: relative;
    left: -25%;
  }

  /* 
    this is socials card section  ==========*/

  .bg-container-2 {
    position: relative;
    left: 30%;
    top: 10%;

    /* top: 35vh; */
    transform: translate(50% 50%);
  }

  .box {
    margin-top: 25px;
    width: 40vw;
  }

  /* this is setting position: top; */

  .large-response {
    margin-top: 190vh;
  }

  /* this is card button response */

  .butn {
    margin-top: 15px;
    width: 26vw;
  }

  /* this is radius rectangle response */
  .circle-para {}

  .third-para {
    position: relative;
    bottom: 25px;
  }
}

/* this is small sixe respomse */

@media (min-width: 100px) and (max-width: 576px) {
  /* this is main first svgt img left side */

  .background-color {
    width: 100vw;
    height: 180vh;
    width: 100vw;
    padding-left: 30%;
    margin-left: 1%;
  }

  .img {
    width: 20vw;
    height: 10rem;
  }

  /* this is container third width section */

  /* this is sec para start your cpmpaung */

  .sec-para {
    width: 60vw;
    margin-right: 60vw;
  }

  /* this is main first svgt img left side */
  .img {
    height: 30rem;
    width: 40rem;
    margin-right: 90%;
    position: relative;
    left: -50%;
  }

  /* 
        this is socials card section  ==========*/

  .bg-container-2 {
    position: relative;
    left: 15%;
    top: 10%;

    /* top: 35vh; */
    transform: translate(50% 50%);
  }

  .box {
    margin-top: 40px;
    width: 52vw;
  }

  /* this is setting position: top; */

  .large-response {
    margin-top: 190vh;
  }

  /* this is card button response */

  .butn {
    margin-top: 15px;
    width: 30vw;
  }

  /* this is radius rectangle response */
  .circle-para {}

  .third-para {
    position: relative;
    bottom: 25px;
    left: 13rem;
    font-weight: bolder;
  }
}

.batn-third {
  background-color: aqua;
}

/* this is responsvieness for box card width */

@media (max-width: 450px) {
  .box {
    width: 80vw;
  }

  .third-para {
    position: relative;
    bottom: 25px;
    left: 35vw;
    font-weight: bolder;
  }

  /* 
this is first card third section buttions */

  .butn {
    margin-top: 15px;
    width: 40vw;
  }

  /* this is main first svgt img left side */

  .background-color {
    width: 100vw;
    height: 180vh;
    width: 100vw;
    padding-left: 30%;
    margin-left: 1%;
  }

  .img {
    width: 80vw;
    height: 2rem;
    margin-left: 5vw;
  }
}





/* 
this is the pricing page responsive layoputs ==============*/

@media (max-width: 992px) {
  /* this is the priicing page setting all  */

  .pricing-main {
    position: relative;
    left: 25vw;
    margin-bottom: 20vh;
  }
}

@media (max-width: 450px) {
  .pricing-main {
    position: relative;
    left: 5vw;
  }
}