/* thisn is for scroll bar */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-two);
  border-radius: 10px;
}

body {
  margin: 0;
  padding: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
  cursor: pointer;
}

/* this  is main-section for padding and margin */

/* ====to aligbn container center======*/
/* to declare a color in variable */
:root {
  --main-color: #0388fc;
  --color-two: #1b46ba;
  --text-color: white;
  --foter-color: #1f2120;
  --white-color: white;
}

/* this is batn bac and col */

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  color: var(--text-color);
}

.batn {
  background-color: var(--color-two);
  color: var(--text-color);
}

.button:hover {
  background-color: var(--main-color);
  color: var(--text-color);
}

.button {
  position: relative;
  z-index: 10;
  border-radius: 10px;
  background-color: var(--color-two);
  color: var(--text-color);
}

.button::before {
  content: "";
  position: absolute;
  background-color: var(--color-two);
  color: var(--main-color);
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
  transition: all 2s ease-out;
  z-index: -10;
}

.button:hover:before {
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* =======this is navlink css part ===========*/

.navbar {
  z-index: 1000;
}

.nav-item,
a:active {
  color: red;
}

.nav-item,
a:visited {
  color: var(--main-color);
}

.link {
  text-transform: capitalize;
  color: var(--color-two);
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
  position: relative;
}

.link:before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 0;
  left: 10%;
  right: 0;
  height: 2px;
  border-radius: 3px;

  top: 100%;
  transition: all 1s ease-in-out;
}

.link:hover:before {
  width: 80%;
}

.link:hover {
  text-decoration: none;
  color: var(--main-color);
}

.link:focus {
  color: red;
}

#home {
  background-color: var(--color-two);
  color: var(--text-color);
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 7px;
}

#home:hover {
  /* background-color: rgb(179, 179, 179);
  color: var(--main-color); */
}

/*=====thsi is for text transform====  */

/* --------home page css wprking from here --------*/

.home-rectangle {
  background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1658081452/web-images/img/mainrec_nhvsix.svg");
  background-repeat: no-repeat;
  background-size: 40rem;
  background-position: 100% 2rem;
  height: 60rem;
}

.color-text {
  color: var(--color-two);
}
.grow {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 50px;
  width: 30rem;
}

.grow-para {
  text-transform: capitalize;
  font-size: 25px;
  text-align: center;
  width: 35rem;
  margin-right: 10px;
}
.container-img,
.girl-img {
  position: absolute;
  height: 33rem;
  top: 10px;
  margin-left: 23rem;
}

.arrow-img {
  z-index: -40;
  background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1656924625/web-images/img/vector-15_1x_hfpuea.svg");
  background-repeat: no-repeat;
  position: relative;
  background-size: 12rem;
  top: 240px;
  margin-left: 20rem;
}

.text {
  margin-left: 50px;
  /* margin-top: 12%; */
  position: relative;
  top: 80px;
}

.home-input {
  width: 70rem;
  height: 5rem;
  border: 4px solid var(--color-two);
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

.home-btn {
  width: 15%;
  position: absolute;
  top: 20px;
  left: 70%;
  background-color: var(--color-two);
  color: var(--text-color);
  text-transform: capitalize;
}

.contain-color {
  background-color: var(--color-two);
  border-radius: 20px;
  margin-top: 50px;
}

.box-home-contain {
  background-color: var(--text-color);
  width: 80%;
  box-sizing: border-box;
  margin-left: 30px;
  margin-bottom: 40px;
  height: 85%;
  padding: 20px;
}

/* .big-blue-home-img {
  background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1658081464/web-images/img/rec2_uuhwlg.svg");
  background-repeat: no-repeat;
  background-position: 0% 15vh;
  background-size: 50rem;
}

.home-start {
  border: 4px solid var(--color-two);
  border-radius: 20px;
  padding: 20px;
}

.card-box {
  background-color: var(--text-color);
  padding: 20px;
  border: 4px solid var(--color-two);
  border-radius: 20px;
  height: 100%;
}

.btn-home {
  background-color: var(--color-two);
  color: var(--text-color);
  margin-top: 20px;
  border-radius: 15px;
  width: 150px;
}

.batns {
  background-color: var(--text-color);
  color: var(--foter-color);
  text-transform: capitalize;
  border: 2px solid var(--color-two);
  margin-top: 20px;
  padding: 10px;
  width: 15vw;
  border-radius: 10px;
  cursor: pointer;
}

.input-col-2 {
  border: 2px solid var(--color-two);
  border-radius: 10px;
  height: 2.5rem;
  padding-left: 30px;
} */

input:focus {
  border: 3px solid var(--main-color);
  outline: none;
  box-shadow: none;
}

.white-input-targeting-box {
  border: 2px solid rgb(241, 235, 224);
  border-radius: 20px;
  padding-left: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.text-home-img {
  font-size: 50px;
  word-wrap: break-word;
  width: 50rem;
  margin-top: 70px;
}

.margin-bottom {
  position: relative;
  bottom: 30rem;
}

.text-of-clients {
  font-weight: bold;
  text-align: justify;
  width: 52rem;
}

.image-table {
  margin-top: 15%;
  height: 80%;
  width: 45vw;
}

.circle-img {
  margin-left: 20%;
  margin-bottom: 20%;
  height: 50vh;
}

.color-redish-col {
}

.circle-text {
  margin-left: 95px;
  margin-top: 20%;
}
.strong-circle-text {
  font-weight: bolder;
  color: var(--color-two);
  font-size: 35px;
  padding: 0 80px 0 0;
}

.circle-inside-div {
  position: absolute;
  top: 105px;
  left: 14rem;
}
.nine-plus {
  font-weight: bolder;
  color: var(--color-two);
  font-size: 50px;
  padding-left: 30px;
}

.join-us-btn {
  background-color: var(--color-two);
  color: var(--text-color);
  width: 15rem;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  cursor: pointer;
  margin-top: 60px;
}

.slick-image {
  background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1658081491/web-images/img/silkmain_qfd6pw.svg");
  background-repeat: no-repeat;
  padding-bottom: 100px;
  position: relative;
  bottom: 15rem;
  padding-top: 10rem;
  padding-left: 20px;
  padding-right: 20px;
}

.text-client-slick {
  text-transform: capitalize;

  color: var(--text-color);
  font-size: 30px;
  position: relative;
  bottom: 6rem;
}

.blue-img-slick {
  background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1658081493/web-images/img/slid3_hv752d.svg");
  background-repeat: no-repeat;
  height: 30rem;
  background-position: 2rem 1rem;
  background-size: 20rem;
  margin-left: 20px;
}

.blue-img-slick-2 {
  background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1658081491/web-images/img/slid2_fqpm4z.svg");
  background-repeat: no-repeat;
  background-position: 1rem 0;
  background-size: 20rem;
}

.blue-img-slick-3 {
  background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1658081491/web-images/img/silk2_ynuukg.svg");
  background-repeat: no-repeat;
  height: 30rem;
  background-position: 2.2rem -1rem;
  /* background-size: 20rem;
          margin-left: 20px; */
}

.white-slick-img {
  margin-left: 50px;
}

.white-slick-img-2 {
  height: 25rem;
}

.circl-slik-img {
  background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1658081496/web-images/img/ellipse-17_2x_wmpffx.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  margin-left: 13rem;
  margin-top: 15px;
  height: 20rem;
  width: 50px;
}

.circl-slik-img-3 {
  background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1658081505/web-images/img/ellipse-18_2x_vceaof.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  margin-left: 11rem;
  margin-top: 15px;
  height: 20rem;
  width: 50px;
}
.circl-slik-img-2 {
  background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1658081489/web-images/img/ellipse-16-1_2x_orm2zy.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  margin-left: 11rem;
  background-size: 5rem;
  height: 15rem;
  width: 80px;
  top: 1px;
}
.slick-3 {
  padding-right: 30px;
  padding-top: 20px;
}
.margin-to-slick-2 {
  position: relative;
  top: -20rem;
}

.text-2-slick {
  font-size: 15px;
  margin-right: 25px;
}
.heading-slick {
  text-transform: capitalize;
  position: relative;
  top: -57%;
  left: -20px;
}

.icon-qotes {
  color: var(--color-two);
}
.text-slick {
  text-transform: capitalize;
  width: 60%;
  text-align: justify;
  font-size: 10px;
  position: relative;
  bottom: 55%;
  left: 17%;
}

.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  top: -47rem;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
  color: var(--color-two);
  font-size: 70px;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 40px;
  line-height: 5px;
  text-align: center;
  color: var(--text-color);
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: var(--color-two);
  opacity: 1;
}

.slick-next:before {
  content: ">";
}

.slick-prev:before {
  content: "<";
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 40px;
  font-weight: bolder;
  background-color: var(--text-color);
  padding: 1px 10px 1px 10px;
  color: var(--color-two);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  left: 20rem;
  bottom: 12rem;
}
.slick-prev {
  position: absolute;
  top: 40px;
}

.slick-next {
  position: absolute;
  top: 40px;
  left: 50%;
}

@media (min-width: 1700px) and (max-width: 2000px) {
  .link {
    z-index: 50;
  }

  .home-rectangle {
    background-position: 100% 4rem;
    background-size: 60rem;
    height: 90rem;
    margin-bottom: -20rem;
  }

.container-img img{

  width: 90%;
  left: 20%;
  top: 5rem;
}

.arrow-img{
 background-size: cover;
position: relative;
margin-left:31vw;
margin-top: 1rem;
width: 200px;
height: 500px;

}

.text:first-child{
  left: 20px;
  top: 12rem;
}
.home-input-btn  button{
left: 65%;
width: 10%;

}

.image-table {
width: 40vw;
padding-right: 100px;
}
.color-redish-col img{
  width: 70%;
  margin-bottom: -10rem;
}
.color-redish-col .circle-inside-div{
padding-top: 25%;
padding-left: 20px;
}

.slick-image{
  background-size: cover;
  padding-left: 90px;
 
}
.slick-1  .text-slick-one{

position: relative;
bottom: 17rem;
 margin-right: 150px;
}
.slick-1 .text-slick-1{

  margin-left:auto;
  margin-right:auto;
  text-align:center;
  width: 250px;

}

.slick-1 .circl-slik-img{
margin-left: 0px;

}

.slick-2  .text-slick-two{

  margin-left: -50px;
}

.slick-3  .text-slick-three{

  margin-left: -50px;
  position: relative;
 bottom: 16rem;
}

}
@media (min-width: 1281px) and (max-width: 1700px) {
  .link {
    z-index: 50;
  }

  
.home-rectangle{
  background-size: 50%;
  margin-bottom: 60px;
}

.container-img img{

 left: 20%;
}

.arrow-img{
left: 10%;
top: 60%;
}

.input-home-page  button{

  left: 67%;
}

.text:first-child{
  top: 10rem;
}

.image-table img{
  width: 200px;

margin-right: 90%;

}

.color-redish-col img{
  margin-bottom: -10rem;
  padding-bottom: 15rem;
}
.color-redish-col .circle-inside-div{
  margin-left: 25px;
  margin-top: 30px;
  margin-right: auto;
  padding-right: 20px;
}
  .slick-image {
    background-size: cover;
    padding-left: 90px;
    padding-right: 10px;
  }
  .slick-1 {
    padding-right: 160px;
    width: 300px;
  }
  .slick-2 {
    padding-right: 30px;
    padding-top: 20px;
    width: 300px;
  }

  .slick-3 {
    padding-right: 190px;
  }

  .heading-slick-2 {
  }
  .margin-to-slick-2 {
    position: relative;
    top: -20rem;
    left: -55px;
  }

  .text-2-slick {
    font-size: 15px;
    margin-right: 20px;
    width: 300px;
  }
  .heading-slick {
    text-transform: capitalize;
    position: relative;
    top: -57%;
    left: -20px;
  }

  .text-slick {
    text-transform: capitalize;
    width: 60%;
    text-align: justify;
    font-size: 10px;
    position: relative;
    bottom: 55%;
    left: 17%;
  }

  .slick-prev:before,
  .slick-next:before {
    left: 450px;
  }
}

@media (min-width: 1280px) and (max-width: 1500px) {

.arrow-img{

}
.container-img img{
  left: 1%;
}

}

@media (min-width: 992px) and (max-width: 1281px) {
  .slick-image {
    padding-left: 0;
    padding-right: 0;

    width: 100%;
  }

  .home-input {
    width: 90vw;
  }
  .girl-img {
  
  }

  .arrow-img {
    left: -30%;
  }
  .grow-para {
    width: 45vw;
  }
  .circle-img {
    width: 80%;
    margin-bottom: -40rem;
    position: relative;
    bottom: 20rem;
  }
  .slick-prev:before,
  .slick-next:before {
    left: 250px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .home-rectangle {
    background-size: 65%;
  }
  .container-img img {
    margin-left: 10vw;
    width: 500px;
    max-width: 100%;
    height: 100%;
    display: block;
  }
  .arrow-img img {
    background-color: #0388fc;
    position: absolute;
    left: 20px;
    top: 10%;
    z-index: 2000;
    width: 2000px;
  }

  .text h1 {
    font-size: 40px;
    width: 350px;
  }

  .text p {
    font-size: 20px;
    width: 300px;
    margin-left: -1px;
  }
  .text:first-child {
    margin-left: 50px;
  }

  .input-home-page form input {
    width: 70vw;
  }
  .input-home-page form input,
  button {
    margin-right: -30px;
  }

  .image-table img {
    width: 200px;
    background-color: #0388fc;
  }

  .color-redish-col img {
    width: 350px;
    min-height: 95%;
    padding-bottom: 45rem;
    margin-bottom: -45rem;
  }

  .circle-inside-div {
    left: 200px;
    top: 80px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .home-rectangle {
    background-size: 55%;
  }
  .container-img img {
    margin-left: 10vw;
    margin-top: 80px;
    min-width: 90%;
    height: 55%;
    display: flex;
  
    z-index: 200px;
  
  }
  .contain-color {
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
  }
  .margin-bottom {
    margin-bottom: -10rem;
  }
  .arrow-img img {
    background-color: #0388fc;
    position: absolute;
    left: 20px;
    top: 10%;
    z-index: 2000;
    width: 2000px;
  }

  .text h1 {
    font-size: 40px;
    width: 350px;
  }

  .text p {
    font-size: 20px;
    width: 300px;
    margin-left: -1px;
  }
  .text:first-child {
    margin-left: 30px;
  }
  .input-home-page form  {
    margin-left: auto;
    margin-right: auto;
  }

  .input-home-page form input {

width:60vw;

  }
.home-input-btn button {
  position: relative;
  margin: auto;
width: 200px;
margin-top: 20px;
  bottom: 0px;
  left: 0px;
  top: 0px;
  right: 0px;
padding: 10px;
}

 .box-home-contain .contain-img {
width: 45%;

}
.box-home-contain{
  width: 50%;
  margin-left: auto;
margin-right: auto;

}

  .input-home-page{
    margin-left: auto;
    margin-right: auto;
  }
  .text-over-300 h1 {
    margin-left: auto;
    margin-right: auto;

    width: 600px;
  }

  .text-client-div p {

    width: 80vw;
    text-align: justify;
  }

  .image-table  {
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 10px;
    
  }

  .color-redish-col ,img {
    width: 350px;
    min-height: 95%;
    padding-bottom: 45rem;
    margin-bottom: -45rem;
   
  }

  .circle-inside-div {
    left: 230px;
    top: 80px;
  }

.slick-image{
background-size: 100vw;
position: relative;
top: 10px;


}


.text-client-slick  p{
  color: var(--color-two);

 
}
.text-client-slick{
position: relative;
bottom: 190px;
 
}


.slick-prev:before,
.slick-next:before {

}


}






























































































/* this is slik carousel main class and we change the shape of slik */

/* done home all with media query */

/* ==================this is service page styling============= */
/* this is the main div of service page  */

.service-box {
  background-color: white;
  height: 8rem;
  width: 80%;
  display: flex;
  justify-content: center;
  /* padding: 20px; */
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.service-box,
para {
  font-size: 13px;
  margin-top: 10px;
}

/* this is image of svg of service page */

.service-bg {
  background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1656924621/web-images/img/rectangle-64-1_1x_ciwaux.svg");
  position: relative;

  background-repeat: no-repeat;

  background-position: -100% 100%;

  z-index: 10;
  margin-top: 10vh;
}

/* this is  sec image of service page background */
.service-bg-2 {
  background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1656924606/web-images/img/mainimg-2_fidzuh.svg");
  background-repeat: no-repeat;
  background-position: -15% -90%;
  position: relative;
  padding-bottom: 15vh;
}

/* 
this is box-img of service pager  */

.box-img {
  background-color: white;
  background-repeat: no-repeat;
  border-radius: 100%;
  height: 8rem;
  position: relative;
  bottom: 3.5rem;
  right: 4vw;
  width: 18rem;
  /* padding-top: 20px; */
  /* padding-left: 20px;
  margin-top: 35px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* this the page of pricig some space from bottom */

.pricing-main {
  margin-bottom: 10vh;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.margin-btn {
  background-color: var(--color-two);
  color: var(--text-color);
  border: none;
  outline: none;
  border-radius: 8px;
}

.input {
  width: 70vw;
  height: 12vh;
  border: 4px solid var(--color-two);
  position: relative;
  bottom: 7vh;
  border-radius: 14px;
}

@media (min-width: 1200px) {
  .service-section {
  }
  .service-box {
    background-color: white;
    height: 8rem;
    width: 75%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    position: relative;
    left: 20%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .para {
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 60rem;

    position: relative;
    left: 4rem;
  }

  /* this is image of svg of service page */

  .service-bg {
    background-position: 100% 2rem;
    z-index: 10;
    background-size: 70rem;

    background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1656924621/web-images/img/rectangle-64-1_1x_ciwaux.svg");

    height: 80rem;
  }

  /* this is  sec image of service page background */
  .service-bg-2 {
    background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1656924606/web-images/img/mainimg-2_fidzuh.svg");
    background-repeat: no-repeat;
    background-position: -1% 9%;
    background-size: 35%;
  }

  /* 
this is box-img of service pager  */

  .box-img {
    background-color: white;
    background-repeat: no-repeat;
    border-radius: 100%;
    height: 8rem;
    position: relative;
    bottom: 3.5rem;
    width: 20rem;
    padding-top: 20px;
    padding-left: 10px;
    margin-top: 45px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    right: 90%;
    bottom: 3rem;
  }

  /* this the page of pricig some space from bottom */

  .pricing-main {
    margin-bottom: 1vh;
  }

  .btn:focus {
    outline: none;
    box-shadow: none;
  }

  .display-mobile {
    position: relative;
    bottom: 16rem;
    z-index: 10;
  }
  .margin-btn {
    position: absolute;
    right: 60px;
    top: -45px;
  }

  .input {
    height: 7rem;
    border: 7px solid var(--color-two);
    border-radius: 20px;
  }

  .left-spacing {
    /* position: relative;
left: 20%; */
  }
  .left-spacing-2 {
    position: relative;
    left: -3%;
  }

  .service-col-spacing {
    position: relative;
    top: 4rem;
  }

  .service-box {
    position: relative;
    top: -2rem;
  }

  .padding-top {
    margin-top: 3px;
  }

  .why-us {
    color: var(--text-color);
  }
}

@media (min-width: 1500px) and (max-width: 1700px) {
  .service-section {
    position: relative;
    bottom: 5rem;
  }
  .service-box {
    background-color: white;
    height: 8rem;
    width: 75%;
    display: flex;
    justify-content: center;
    margin-top: 80px;

    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    bottom: -60rem;
  }

  .why-us {
    color: var(--text-color);
  }
  .para {
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 60rem;

    position: relative;
    left: 4rem;
  }

  /* this is image of svg of service page */

  .service-bg {
    background-position: 100% 1rem;
    z-index: 10;
    background-size: 60%;
  }

  /* this is  sec image of service page background */
  .service-bg-2 {
    background-position: -2px 5rem;
    background-size: 35%;
  }

  /* 
    this is box-img of service pager  */

  .box-img {
    background-color: white;
    background-repeat: no-repeat;
    border-radius: 100%;
    height: 8rem;
    position: relative;
    bottom: 3.5rem;
    width: 20rem;
    padding-top: 20px;
    padding-left: 10px;
    margin-top: 45px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    right: 90%;
    bottom: 3rem;
  }

  /* this the page of pricig some space from bottom */

  .pricing-main {
    margin-bottom: 1vh;
  }

  .btn:focus {
    outline: none;
    box-shadow: none;
  }

  .display-mobile {
    position: relative;
    bottom: 15rem;
  }

  .margin-btn {
    width: 10vw;
    height: 3rem;
    position: relative;
    top: -14.5rem;
    left: 75%;
    z-index: 30;
  }

  .input {
    width: 70rem;
    height: 8rem;
    border: 5px solid var(--color-two);
    position: relative;
    bottom: 9rem;
    left: 1rem;
    border-radius: 25px;
    padding-left: 20px;
    z-index: 20;
  }

  .left-spacing {
    /* position: relative;
    left: 20%; */
  }
  .left-spacing-2 {
    position: relative;
    left: -3%;
  }

  .service-col-spacing {
    position: relative;
    top: 4rem;
    left: -20%;
  }

  .service-box {
    position: relative;
    top: -2rem;
  }

  .padding-top {
    margin-top: 3px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .service-section {
    position: relative;
    bottom: 5rem;
  }

  .service-box {
    background-color: white;
    height: 8rem;
    width: 75%;
    display: flex;
    justify-content: center;
    margin-top: 80px;

    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    bottom: -60rem;
  }

  .why-us {
    color: var(--text-color);
  }
  .para {
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 60rem;

    position: relative;
    left: 4rem;
  }

  /* this is image of svg of service page */

  .service-bg {
    background-position: 100% 5rem;
    z-index: 10;
    background-size: 60%;
  }

  /* this is  sec image of service page background */
  .service-bg-2 {
    background-position: -2px 15rem;
    background-size: 35%;
  }

  /* 
  this is box-img of service pager  */

  .box-img {
    background-color: white;
    background-repeat: no-repeat;
    border-radius: 100%;
    height: 8rem;
    position: relative;
    bottom: 3.5rem;
    width: 20rem;
    padding-top: 20px;
    padding-left: 10px;
    margin-top: 45px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    right: 90%;
    bottom: 3rem;
  }

  /* this the page of pricig some space from bottom */

  .pricing-main {
    margin-bottom: 1vh;
  }

  .btn:focus {
    outline: none;
    box-shadow: none;
  }

  .display-mobile {
    position: relative;
    bottom: 25rem;
  }
  .margin-btn {
  }

  .input {
    border: 5px solid var(--color-two);
  }

  .left-spacing {
    /* position: relative;
  left: 20%; */
  }
  .left-spacing-2 {
    position: relative;
    left: -3%;
  }

  .service-col-spacing {
    position: relative;
    top: 4rem;
    left: -20%;
  }

  .service-box {
    position: relative;
    top: -2rem;
  }

  .padding-top {
    margin-top: 3px;
  }
}
/* service responsive all thing for 992px  */

@media (min-width: 992px) and (max-width: 1199px) {
  .service-box {
    background-color: white;
    height: 6rem;
    width: 80%;
    display: flex;
    position: relative;
    left: 15%;
    justify-content: center;
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 25px;
  }

  .para {
    font-size: 12px;

    position: relative;
    left: 60px;
  }

  .why-us {
    font-weight: bolder;
    font-size: 30px;

    color: white;
  }

  .service-bg {
    background-position: 100% 1vh;
    background-size: 60%;

    z-index: 10;
  }

  /* this is  sec image of service page background */
  .service-bg-2 {
    background-position: 1% 70%;
    background-size: 30%;
  }

  .box-img {
    background-color: white;
    background-repeat: no-repeat;
    border-radius: 100%;
    height: 6rem;
    position: relative;
    bottom: 3rem;
    right: 5vw;
    width: 15rem;
    padding-top: 20px;
    padding-left: 10px;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    left: -18rem;
  }

  /* this the page of pricig some space from bottom */

  .pricing-main {
    margin-bottom: 10vh;
  }

  .btn {
    outline: none;
    box-shadow: none;
    color: var(--main-color);
  }

  .btn:focus {
    outline: none;
    box-shadow: none;
  }

  .display-mobile {
    position: relative;
    top: -1rem;
  }
  .margin-btn {
    position: relative;
    left: -8rem;
    top: -5.5rem;
    z-index: 20;
  }

  .input {
    width: 45rem;
    height: 6rem;
    border: 5px solid var(--color-two);
    position: relative;
    left: 5rem;
    bottom: 5rem;
    border-radius: 20px;
    z-index: 20;
  }

  .service-col-spacing {
    margin-right: 40%;
  }
  .service-box {
  }

  .padding-top {
    margin-top: 30px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .service-box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }

  .box-img {
    background-color: white;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 10rem;
    position: relative;
    bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    right: 85%;
    width: 10rem;

    padding-left: 10px;
    margin-bottom: 20px;
  }

  .para {
    padding-top: 4%;
    position: relative;
    left: 90px;
    font-size: 20px;
    width: 70%;
  }
  .service-col-set {
  }
  .why-us {
    color: var(--color-two);
  }

  .service-col-spacing {
    position: relative;
    left: 40%;
  }
  /* thuis is setting image side by side */
  .service-bg {
    background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1656924621/web-images/img/rectangle-64-3_1x_ydjbsr.svg");
    background-position: 1% 0vh;
    background-repeat: no-repeat;
    background-size: 60%;
  }

  .service-bg-2 {
    background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1656924621/web-images/img/rectangle-64-2_1x_oscran.svg");
    background-repeat: no-repeat;
    background-position: 100% 35vh;
    background-size: 30rem;
  }

  .input {
    position: relative;
    bottom: 7vh;
    width: 40rem;
    height: 6rem;
    border: 4px solid var(--color-two);
    z-index: 20;
    border-radius: 20px;
  }

  .margin-btn {
    position: relative;
    left: 65%;
    top: -10rem;
    z-index: 20;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .service-box {
    /* margin-top: 50px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 30rem;
  }

  .box-img {
    background: none;
    border-radius: none;
    outline: none;
    box-shadow: none;
    background-color: none;
    position: relative;
    width: 20rem;
    left: -27rem;
    top: 1px;
    padding-top: 20px;
  }

  .para {
    position: relative;
    left: 50px;
    font-size: 20px;
    padding-top: 20px;
  }

  /* thuis is setting image side by side */
  .service-bg {
    background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1656924621/web-images/img/rectangle-64-3_1x_ydjbsr.svg");
    background-repeat: no-repeat;
    background-position: -1rem 2px;
    background-size: 30rem;
  }

  .service-bg-2 {
    background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1656924621/web-images/img/rectangle-64-2_1x_oscran.svg");
    background-repeat: no-repeat;
    background-position: 100% 70%;
    background-size: 60%;
  }

  .why-us {
    color: var(--color-two);
  }

  /* this is input button */

  .margin-btn {
    display: none;
  }

  .input {
    display: none;
  }
}

@media (max-width: 576px) {
  .main-service {
    position: relative;
    bottom: 10rem;
  }

  .service-box {
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 50px; */
    margin-top: 40px;
  }

  .service-col-set {
    height: 15rem;
    position: relative;
    top: 7rem;
  }

  .service-col-spacing {
    position: relative;
    top: 7rem;
  }
  /* this is paragraph setting */

  .para {
    z-index: 1;
    font-size: 15px;
    position: relative;
    left: 4rem;
    padding-top: 25px;
  }

  .service-col-img {
    height: 5rem;
    width: 10rem;

    font-size: 90px;
    position: relative;
    left: -2rem;
  }
  .box-img {
    background: none;
    border-radius: none;
    outline: none;
    box-shadow: none;
    position: relative;
    left: -75%;
    top: 2rem;
  }

  /* thuis is setting image side by side */
  /* thuis is setting image side by side */
  .service-bg {
    background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1656924621/web-images/img/rectangle-64-3_1x_ydjbsr.svg");
    background-repeat: no-repeat;
    background-position: -1rem 10rem;
  }

  .service-bg-2 {
    background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1656924621/web-images/img/rectangle-64-2_1x_oscran.svg");
    background-repeat: no-repeat;
    background-position: 100% 40rem;
    background-size: 20rem;
  }

  .why-us {
    color: var(--color-two);
  }

  .display-mobile {
    display: none;
  }
}

/* this is some extra setting of servive page responsive issues */

@media (max-width: 490px) {
  .main-service {
    position: relative;
    bottom: 8rem;
  }

  .service-box {
    width: 60%;
  }

  .service-col-set {
  }

  .service-col-spacing {
    position: relative;
    top: 7rem;
  }

  /* this is paragraph setting */

  .para {
    z-index: 1;
    font-size: 12px;
    position: relative;
    font-weight: bold;
    left: 4rem;
    text-align: center;
    padding-top: 35px;
    width: 35rem;
  }

  .service-col-img {
    height: 5rem;
    width: 10rem;

    position: relative;
    left: -2rem;
  }

  .box-img {
    background: none;
    border-radius: none;
    outline: none;
    box-shadow: none;
    left: -75%;
    width: 70%;
  }

  /* thuis is setting image side by side */
  /* thuis is setting image side by side */
  .service-bg {
    background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1656924621/web-images/img/rectangle-64-3_1x_ydjbsr.svg");
    background-repeat: no-repeat;
    background-position: -1rem 10rem;
  }

  .service-bg-2 {
    background-position: 10em 70%;
    background-size: 25em;
  }

  .why-us {
    color: var(--main-color);
  }

  .display-mobile {
    display: none;
  }
}

@media (max-width: 430px) {
  .service-box {
    width: 40%;
  }

  .service-bg {
    background-position: -1rem 10rem;
  }
  .service-bg-2 {
    background-position: 100% 80%;
    background-size: 85vw;
  }
  /* this is paragraph setting */

  .para {
    z-index: 1;
    font-size: 10px;
    position: relative;
    font-weight: bold;
    left: 3rem;
    text-align: center;
    padding-top: 35px;
    width: 45rem;
  }

  .box-img {
    background: none;
    border-radius: none;
    outline: none;
    box-shadow: none;
    left: -75%;
    width: 70%;
  }
}

@media (max-width: 992px) {
  /* this is for reverse the column */
  .revert-col {
    display: flex;
    flex-flow: column-reverse;
  }
}

/* ============this is responsive layoyuts of service page botttom======= */

/* ====my page setting responsive from large screen==== */
/* this setting second col lefting spacing */

@media (min-width: 992px) {
  .why-us {
    color: white;
  }
}

/*------------ this is styling of  of pricing page ----- */

.pricing-tea-box {
  background-color: #a6cce0;
  display: flex;

  margin-top: 20vh;
}

.pricing-col-top {
  margin-top: 21%;
}

.input-pricing {
  border: 4px solid var(--color-two);
  height: 7rem;
  border-radius: 15px;
  outline: none;
  box-shadow: none;
}

.input-pricing:focus {
  outline: none;
  box-shadow: none;
}

/* teax box */

.tea-img {
  /* padding-top: 20px;
  padding-bottom: 20px; */
  width: 25vw;
}

.btn-price {
  background-color: var(--color-two);
  color: var(--text-color);
  text-transform: capitalize;

  width: 10rem;
  height: 2rem;
  border-radius: 10px;
}

.pricing-btn {
  margin-top: 20px;
  background-color: var(--color-two);
  color: var(--text-color);
  outline: none;
  border: none;
  border-radius: 10px;
}

table td tr {
  border: none;
  outline: none;
}

.pricing-url {
  background-color: var(--text-color);
  padding-left: 15px;
  padding-right: 15px;
  margin-left: -10%;
  border-radius: 10px;
  font-size: 15px;
  text-transform: capitalize;
}

.pricing-url-2 {
  background-color: var(--text-color);
  padding-left: 10px;
  padding-right: 10px;
  margin-left: -10%;
  border-radius: 10px;
  font-size: 15px;
  text-transform: capitalize;
}

.pricing-text {
  font-weight: bolder;
  text-transform: uppercase;
  text-align: justify;
  font-size: 12px;
}
.pricing-text-2 {
  font-weight: bolder;
  text-transform: uppercase;
  text-align: justify;
  position: relative;
  top: 10px;
  font-size: 12px;
}
.start-pricing {
  border: 4px solid var(--color-two);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 25px;
}

/* 
this is the pricing page responsive layoputs ==============*/
@media (min-width: 1200px) {
  .main-text-width {
  }

  .pricing-col-top {
    margin-top: 30%;
  }
  .tea-img {
    width: 20rem;
  }
  .table-col {
    margin-top: 30px;
  }

  .pricing-url {
    background-color: var(--text-color);
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -10%;
    border-radius: 10px;
    font-size: 15px;
    text-transform: capitalize;
  }

  .pricing-url-2 {
    background-color: var(--text-color);
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -10%;
    border-radius: 10px;
    font-size: 15px;
    text-transform: capitalize;
  }

  .pricing-text {
    font-weight: bolder;
    text-transform: uppercase;
    text-align: justify;
    font-size: 15px;
  }

  .pricing-text-2 {
    font-weight: bolder;
    text-transform: uppercase;
    text-align: justify;
    position: relative;
    top: 10px;
    font-size: 14px;
    padding-right: 50px;
  }

  .btn-price {
    width: 10rem;
    height: 3rem;
    position: relative;
    right: 6rem;
    top: 4rem;
  }
}
@media (max-width: 992px) {
  /* this is the priicing page setting all  */
  .main-text-width {
  }

  .pricing-col-top {
    margin-top: 30%;
  }
  .pricing-main {
    position: relative;
    left: 25vw;
    margin-bottom: 20vh;
  }

  .pricing-url {
    background-color: var(--text-color);
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -10%;
    border-radius: 10px;
    font-size: 15px;
    text-transform: capitalize;
  }

  .pricing-url-2 {
    background-color: var(--text-color);
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -10%;
    border-radius: 10px;
    font-size: 15px;
    text-transform: capitalize;
  }

  .pricing-text {
    font-weight: bolder;
    text-transform: uppercase;
    text-align: justify;
    font-size: 15px;
  }

  .pricing-text-2 {
    font-weight: bolder;
    text-transform: uppercase;
    text-align: justify;
    position: relative;
    top: 10px;
    font-size: 14px;
    padding-right: 50px;
  }

  .btn-price {
    width: 10rem;
    height: 3rem;
    position: relative;
    right: 1rem;
    top: 1rem;
  }
}

@media (max-width: 450px) {
  .pricing-main {
    position: relative;
    left: 5vw;
  }

  .tea-img {
  }

  .table-col {
    padding-bottom: 20px;
  }
  .btn-price {
  }
  .text-pricing {
    font-size: 18px;
  }
  .pricing-col-top {
    margin-top: 30%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .btn-pricing {
    position: relative;
    top: 2vh;
    left: -5rem;
  }

  .btn-price {
    background-color: var(--color-two);
    color: var(--text-color);
    text-transform: capitalize;
    border: 2px solid var(--color-two);
    width: 10rem;
    height: 2rem;
    border-radius: 10px;
    font-size: 10px;
    position: relative;
    right: 5rem;
    top: 4rem;
  }

  .btn-pricing {
    position: relative;

    font-size: 22px;
    text-align: center;
    width: 12rem;
    height: 3.5rem;
    left: 4rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .main-text-width {
    font-size: 20px;
    width: 100%;
  }

  .img-pricing {
    padding-top: 20%;
  }

  .input-pricing {
    height: 4rem;
  }

  .pricing-btn {
    height: 3rem;
  }

  .tea-img {
    width: 30vw;
  }

  .bg-pricng-url {
    background-color: var(--text-color);
    width: 40px;
  }

  .btn-pricing {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -10px;
  }
  .btn-price {
    margin-bottom: 20px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .main-text-width {
    font-size: 20px;
    width: 100%;
  }

  .table-col {
    position: relative;
    top: -2rem;
  }

  .input-pricing {
    height: 3rem;
  }

  .img-pricing {
    padding-top: 30%;
  }

  .bg-pricng-url {
    background-color: var(--text-color);
    width: 40px;
  }

  .tea-img {
    width: 40vw;
  }

  .btn-pricing {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -10px;
    left: -10px;
  }

  .btn-price {
    width: 8rem;
    font-size: 15px;
    height: 2;
    position: relative;
    top: -1rem;
  }
}

@media (min-width: 0px) and (max-width: 576px) {
  .pricing-tea-box {
    width: 90%;
    position: relative;
    bottom: 6rem;
  }

  .table-col {
    position: relative;
    margin-top: -40px;
  }
  .pricing-text {
    font-size: 10px;
  }

  .pricing-text-2 {
    font-size: 10px;
  }

  .main-text-width {
    font-size: 15px;
    width: 100%;
    font-weight: bold;
  }

  .input-pricing {
    height: 3rem;
  }

  .pricing-col-top {
    margin-top: -1%;
  }

  .img-pricing {
  }

  .bg-pricng-url {
    background-color: var(--text-color);
    width: 40px;
  }

  .tea-img {
    width: 15rem;
  }

  .btn-pricing {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -10px;
    left: -10px;
  }

  .btn-price {
    width: 6rem;
    height: 40px;
    position: relative;
    top: 10px;
    font-size: 10px;
  }
}

@media (max-width: 440px) {
  .main-text-width {
    font-size: 12px;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .tea-img {
    width: 15rem;
  }
}

/* ----------done with pricing page----------- */

/* this is how its work page csss */
/* =========this is the how its work page styling============= */
/* 
this is how its work heading line hr */

.line {
  position: relative;
  width: 100%;
}

.line::before {
  content: "";
  position: absolute;
  background-color: var(--color-two);
  width: 50%;
  height: 2px;
  left: 25%;
  top: 100%;
}

.work-image {
  background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1656924610/web-images/img/rectangle-1-1_1x_lddovm.svg");
  background-repeat: no-repeat;
  background-position: 120% 10vh;
  background-size: 60rem;
}

/* this is for image ellipse 37 mouth */

.work-image-2 {
  background-image: url("https://res.cloudinary.com/the-super-soul/image/upload/v1656924338/web-images/img/ellipse-37_1x_vbx5qd.svg");
  background-repeat: no-repeat;
  background-position: -2% 40vh;
  background-size: 30rem;
  z-index: -2;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.work-input {
  width: 80vw;
  padding-left: 2vw;
  border: 5px solid var(--color-two);
  border-radius: 14px;
  height: 12vh;
  position: relative;
  bottom: 20vh;
}

.work-batn {
  width: 15vw;
  position: relative;
  bottom: 10rem;
  height: 3rem;
  margin-left: 45rem;
  background-color: var(--color-two);
  border-radius: 10px;
}

/* this is end of  how its work page csss */
/* =========this is the how its work page styling============= */

/* this is hide image from mobile devices */
/* and responsive for image */
@media (min-width: 1200px) {
  .line {
    position: relative;
    width: 100%;
  }

  .work-col-spacing {
    position: relative;
    bottom: 5rem;
  }

  .marging-5 {
    position: relative;
    left: -5rem;
    top: -4rem;
  }

  .work-image {
    background-position: 100% 7vh;
    background-size: 75rem;
  }

  /* this is for image ellipse 37 mouth */

  .work-image-2 {
    background-position: 1% 5vh;
    background-size: 55rem;
    z-index: -2;
  }

  .work-input {
    width: 80vw;
    padding-left: 2vw;
    border: 4px solid var(--color-two);
    border-radius: 20px;
    height: 8rem;
    position: relative;
    bottom: 20vh;
  }

  .work-batn {
    width: 10%;
    position: relative;
    bottom: 23rem;
    height: 3rem;
    margin-left: 70rem;
  }
}

@media (min-width: 1800px) and (max-width: 2200px) {
  .work-input {
    width: 80vw;
    padding-left: 2vw;
    border: 4px solid var(--color-two);
    border-radius: 20px;
    height: 8rem;
    position: relative;
    bottom: 13rem;
  }

  .work-batn {
    width: 10%;
    position: relative;
    bottom: 21.5rem;
    height: 3rem;
    margin-left: 70rem;
  }
  .work-image-2 {
    background-position: 1% 5vh;
    background-size: 40rem;
    z-index: -2;
  }
}

@media (min-width: 1500px) and (max-width: 1800px) {
  .work-col-spacing {
    position: relative;
    bottom: 5rem;
  }

  .marging-5 {
    position: relative;
    left: -5rem;
    top: -4rem;
  }

  .work-image {
    background-position: 120% 7vh;
    background-size: 65rem;
  }

  /* this is for image ellipse 37 mouth */

  .work-image-2 {
    background-position: 1% 5vh;
    background-size: 40rem;
    z-index: -2;
  }

  .work-input {
    position: absolute;
    top: -19rem;
  }

  .work-batn {
    margin-right: 20vw;
    position: relative;
    top: -27rem;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .work-col-spacing {
    position: relative;
    bottom: 5rem;
  }

  .marging-5 {
    position: relative;
    left: -5rem;
    top: -4rem;
  }

  .work-image {
    background-position: 120% 7vh;
    background-size: 58rem;
  }

  /* this is for image ellipse 37 mouth */

  .work-image-2 {
    background-position: 1% 15vh;
    background-size: 30rem;
    z-index: -2;
  }

  .work-input {
    bottom: 20rem;
  }

  .work-batn {
    margin-right: 35vw;
    position: relative;
    top: -28rem;
  }
}

@media (min-width: 1500px) and (max-width: 1800px) {
  .work-col-spacing {
    position: relative;
    bottom: 5rem;
  }

  .marging-5 {
    position: relative;
    left: -5rem;
    top: -4rem;
  }

  .work-image {
    background-position: 120% 7vh;
    background-size: 60rem;
  }

  /* this is for image ellipse 37 mouth */

  .work-image-2 {
    background-position: 1% 5vh;
    background-size: 35rem;
    z-index: -2;
  }

  .work-input {
    width: 80vw;
    padding-left: 2vw;
    border: 4px solid var(--color-two);
    border-radius: 20px;
    height: 8rem;
    position: relative;
    bottom: 20vh;
  }

  .work-batn {
    width: 10%;
    position: relative;
    bottom: 23rem;
    height: 3rem;
    margin-left: 70rem;
  }
}

@media (max-width: 768px) {
  .work-image {
    background-image: none;
  }

  .work-image-2 {
    background-image: none;
  }

  .work-input {
    margin-top: 5rem;
  }

  .work-batn {
    margin-left: 40vw;
    width: 8rem;
  }

  .marging {
    padding-top: 90px;
  }

  .work-input {
    width: 80vw;
    padding-left: 2vw;
    border: 4px solid var(--color-two);
    border-radius: 14px;
    height: 12vh;
    position: relative;
    bottom: 20vh;
  }

  .work-batn {
    width: 30vw;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: -90px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .work-col-spacing {
    position: relative;
    bottom: 5rem;
  }

  .arrow-workimg-2 {
    position: relative;
    left: -27px;
  }

  .arrow-img-work {
    position: relative;
    left: -87px;
    width: 17rem;
  }

  .marging-5 {
    position: relative;
    left: 2rem;
    top: -1rem;
  }

  .work-image {
    background-position: 150% 7vh;
    background-size: 50rem;
  }

  /* this is for image ellipse 37 mouth */

  .work-image-2 {
    background-position: -10% 15vh;
    background-size: 30rem;
    z-index: -2;
  }

  .work-input {
    bottom: 10rem;
    height: 6rem;
  }

  .work-batn {
    margin-right: 12vw;
    position: relative;
    top: -17.5rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .work-col-spacing {
    position: relative;
    bottom: 12rem;
  }

  .arrow-workimg-2 {
    position: relative;
    left: -70px;
    width: 13rem;
  }

  .arrow-img-work {
    position: relative;
    left: -87px;
    width: 12rem;
  }

  .marging-5 {
    position: relative;
    left: 2rem;
    top: -1rem;
  }

  .work-image {
    background-position: 150% 7vh;
    background-size: 42rem;
  }

  /* this is for image ellipse 37 mouth */

  .work-image-2 {
    background-position: -4% 15vh;
    background-size: 25rem;
    z-index: -2;
  }

  .work-input {
    bottom: 19rem;
    height: 6rem;
  }

  .work-batn {
    margin-right: 20vw;
    position: relative;
    top: -26.5rem;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .work-col-spacing {
    position: relative;
    top: -6rem;
  }

  .work-input {
    bottom: 10rem;
    height: 6rem;
    border-radius: 35px;
    padding-left: 25%;
  }

  .work-batn {
    top: -10rem;
  }

  .marging-4 {
    padding-top: 10%;
  }

  .marging-1 {
    padding-left: 20px;

    position: relative;
    left: -20%;
  }

  .marging-5 {
    position: relative;
    top: 100px;
  }

  .line::before {
    content: "";
    position: absolute;
    background-color: var(--color-two);
    width: 70%;
    height: 2px;
    left: 15%;
    top: 100%;
  }
}

@media (max-width: 768px) {
  .img-hide {
    display: none;
  }
}

@media (max-width: 576px) {
  .work-col-spacing {
    position: relative;
    top: -5rem;
  }

  .marging-1 {
    display: flex;
    position: relative;
    left: -80px;
    bottom: 25px;

    width: 20rem;
  }

  .line::before {
    content: "";
    position: absolute;
    background-color: var(--color-two);
    width: 60%;
    height: 2px;
    left: 19%;
    top: 100%;
  }

  .marging-5 {
    margin-top: 80px;
  }

  .marging-4 {
    margin-top: 40px;
  }

  .font-work {
    font-size: 12px;
  }

  .work-input {
    bottom: 10rem;
    height: 6rem;
    border-radius: 35px;
    padding-left: 15%;
  }

  .work-batn {
    top: -10rem;
  }

  .enter-details {
    padding-left: 60px;
  }

  .text-work {
    padding-top: 20px;
    width: 80vw;
    font-size: 12px;
    font-weight: bold;
  }
}

@media (max-width: 480px) {
  .work-col-spacing {
    position: relative;
    top: -8rem;
  }

  .marging-1 {
    display: flex;
    position: relative;
    left: 8px;
    bottom: 25px;

    width: 20rem;
  }

  .line::before {
    content: "";
    position: absolute;
    background-color: var(--color-two);
    width: 90%;
    height: 2px;
    left: 5%;
    top: 100%;
  }

  .marging-5 {
    margin-top: 80px;
    position: absolute;
    left: -25px;
    width: 90px;
  }

  .marging-4 {
    margin-top: 40px;
  }

  .font-work {
  }

  .text-heading {
    width: 100%;
    font-size: 15px;
  }

  .work-input {
    bottom: 20rem;
    height: 4rem;
    border-radius: 22px;
    padding-left: 15%;
  }

  .work-batn {
    top: -22rem;
  }

  .enter-details {
    padding-left: 60px;
  }

  .text-work {
    padding-top: 20px;
    width: 80vw;
    font-size: 12px;
    font-weight: bold;
  }
}

/* this is for work page colum reverse  */

/* ALL RESPONSIVE LAYOUTAS OF SER VISE PAGE TOP */

/* this is done service page */

/* =======this is the page of member page box design box-design-members======= */

.box-design-members {
  background-color: var(--color-two);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  border-radius: 10px;
  margin-top: 15px;
  color: var(--text-color);
  text-transform: capitalize;
}

/* button css + */

.butan-member {
  background-color: var(--text-color);
  color: var(--foter-color);
  outline: none;
  box-shadow: none;
  border-radius: 20px;
  position: relative;
  bottom: 30px;
  position: relative;
}

.card-body {
  position: relative;
  bottom: 30px;
  transition: all 1s ease-in-out;
}

.butan-member:focus {
  outline: none;
  box-shadow: none;
}

.para-text-member {
  text-align: left;
  width: 70vw;
}

.read-batn {
  background-color: var(--color-two);
  border-radius: 10px;
  width: 15rem;
  height: 3rem;
  text-transform: uppercase;
}

/* responsive layouts of members page  */

@media (max-width: 768px) {
  .box-design-members {
    padding-left: 10px;
    padding-right: 10px;
  }

  .postion-btn {
    position: relative;
    top: -11rem;
  }

  .width-para {
    width: 90vw;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
  }

  .text-question {
    font-size: 12px;
    font-weight: bolder;
  }

  .card-body {
    position: relative;
    bottom: 35px;
    transition: all 1s ease-in-out;
  }

  .butan-member {
    font-size: 12px;
    border-radius: 90%;
    height: 35px;
    margin-top: 5px;
    position: relative;
    right: 3%;
  }

  .fa-solid {
  }

  .read-batn {
    width: 10rem;
    height: 3rem;
  }
}

/* done member page  */

@media (max-width: 430px) {
  .box-design-members {
    font-size: 12px;
  }

  .width-para {
    width: 100%;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
  }

  .text-question {
    font-size: 12px;
    font-weight: bolder;
  }

  .butan-member {
    position: relative;
    right: 8%;
  }
}

/* =======this is the page of member page box design box-design-members======= */

/* this is login page css  */

.main-div {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.box-login {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  background-color: var(--text-color);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 500px;
}

.box .inputbox {
  position: relative;
}

.box-login h1 {
  margin-bottom: 20px;
  text-align: center;
  text-transform: capitalize;
}

.box-login .inputbox input {
  width: 100%;
  border: none;
  margin-top: 40px;
  margin-bottom: 40px;
  color: var(--color-two);
  letter-spacing: 2px;
  border-bottom: 2px solid var(--color-two);
  outline: none;
  box-shadow: none;
  background-color: var(--text-color);
  padding-bottom: 10px;
}

.box-login .inputbox label {
  position: relative;
  bottom: 110px;
  transition: 1s;
  color: var(--color-two);
  font-weight: bolder;
  line-height: 4px;
  text-transform: capitalize;
}

/* .box-login .inputbox input:focus~label {
  position: relative;
  top: -90px;
  font-weight: bolder;
}

.box-login .inputbox input:valid~label {
  top: -50px;

} */

.butan {
  background-color: var(--color-two);
  color: var(--text-color);
  font-size: 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 10px 20px;
  margin-top: 30px;
  cursor: pointer;
  text-transform: capitalize;
  letter-spacing: 2px;
}

/* responsive layouts of login page */

@media (max-width: 576px) {
  .box-login {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* thid id done login page */

/*============this is footer css for page========== */

.site-footer {
  font-size: 15px;
  padding-top: 20px;
  margin-bottom: 2rem;
}

/* this is firsst col of footer */
.nav-footer {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--foter-color);
  font-size: 20px;
}

.footer-link {
  color: var(--foter-color);
}

.footer-link:hover {
  color: var(--main-color);
  text-decoration: none;
}

.footer-link:active {
  color: var(--foter-color);
}

.footer-link:visited {
  color: var(--foter-color);
}

.footer-fag {
  display: flex;
  flex-direction: column;
  color: var(--foter-color);
  font-weight: bold;
  padding-top: 20px;
  font-size: 20px;
  text-transform: uppercase;
}

.footer-fag:active {
  color: var(--foter-color);
}

.footer-fag:hover {
  color: var(--main-color);
  text-decoration: none;
}

.footer-input {
  border: 3px solid var(--color-two);
  border-radius: 10px;
  outline: none;
  box-shadow: none;
}

.footer-fag:focus {
  outline: none;
  box-shadow: none;
}

.btn-footer {
  background-color: var(--color-two);
  color: var(--text-color);
  width: 3rem;
  border: 2px solid red;
  height: 2.7rem;
  left: 68%;
  border-radius: 6px;
  bottom: 56%;
  position: absolute;
}

.hr-footer {
  position: relative;
  content: "";
  background-color: var(--color-two);
  width: 80%;
  height: 3px;
  border-radius: 5px;
}

/* ===this is footer social icobs css=== */

.social-icon {
  margin-right: 30px;

  border: 2px solid var(--color-two);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding-top: 18px;
  padding-left: 5%;
}

.social {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.copyright {
  width: 30rem;
}

.footer-logo {
  width: 10vw;
}

/* footer done */

@media (min-width: 1200px) {
  .footer-logo {
    width: 80%;
  }

  .btn-footer {
    margin-left: 12px;
  }
}

/* fottre social icons responsive */

@media (max-width: 576px) {
  .social-icon {
    padding-left: 3%;
  }
}

/* this is responsive layouts for our things and data */

@media (max-width: 992px) {
  /* this is navbar */

  .nav-item {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  /* toggler this is hide */

  .navbar-toggler.collapsed {
    border: none;
    outline: none;
    box-shadow: none;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .footer-logo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
  }

  .social-icon {
    margin-right: 30px;

    border: 2px solid var(--color-two);
    height: 2.5rem;
    width: 10rem;
    border-radius: 50%;
    padding-top: 11px;
    padding-left: 6%;
  }

  .hr-footer {
    position: relative;
    content: "";
    background-color: var(--color-two);
    width: 90%;
    height: 3px;
    border-radius: 5px;
  }

  .copyright {
    width: 20rem;
  }

  .btn-footer {
    position: absolute;
    top: 48px;
    left: 11rem;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .footer-logo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
  }

  .social-icon {
    margin-right: 30px;
    position: relative;
    left: 1rem;
    border: 2px solid var(--color-two);
    height: 3rem;
    width: 8rem;
    border-radius: 50%;
    padding-top: 15px;
    padding-left: 7%;
  }

  .hr-footer {
    position: relative;
    content: "";
    background-color: var(--color-two);
    width: 90%;
    height: 3px;
    border-radius: 5px;
  }

  .copyright {
    width: 12rem;
    margin-left: 6rem;
  }

  .btn-footer {
    position: relative;
    top: -40px;
    left: 96px;
  }

  .footer-input {
    height: 2.8rem;
  }
}

@media (max-width: 576px) {
  .col-reverse {
    position: absolute;
    left: 50%;
    margin-top: 14%;
  }

  .footer-logo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    margin-bottom: 50px;
  }

  .social-icon {
    margin-right: 30px;
    position: relative;
    left: 1rem;
    border: 2px solid var(--color-two);
    height: 3rem;
    width: 8rem;
    border-radius: 50%;
    padding-top: 15px;
    padding-left: 7%;
  }
  .hr-footer {
    position: relative;
    content: "";
    background-color: var(--color-two);
    width: 95%;
    height: 3px;
    border-radius: 5px;
  }

  .copyright {
    text-align: justify;
    width: 100%;
  }

  .btn-footer {
    position: relative;
    top: -2.4rem;
    left: 75%;
    width: 11vw;
    border: 1px solid red;
  }
  .text-footer-input {
    font-size: 19px;
    font-weight: bold;
  }

  .footer-input {
    height: 2.8rem;
  }
}

@media (max-width: 490px) {
  .footer-logo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    margin-bottom: 50px;
  }

  .social-icon {
    font-size: 10px;
    width: 5rem;
    height: 2rem;
    padding: 10px 10px 2px 10px;
  }

  .copyright {
    text-align: justify;

    font-size: 10px;
  }
}
/*---------- footer done ------*/
@media (max-width: 992px) {
  /* this is navbar */

  .nav-item {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  /* toggler this is hide */

  .navbar-toggler.collapsed {
    border: none;
    outline: none;
    box-shadow: none;
  }
}
@media (max-width: 410px) {
  .navbar-toggler {
    position: relative;
    left: 80%;
    bottom: 3rem;
  }
}
